<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781700865310-roamjqjdugfv0nrhkg1ebt13s0r971ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781700865310-roamjqjdugfv0nrhkg1ebt13s0r971ov</string>
	<key>API_KEY</key>
	<string>AIzaSyCwOfC5CNmwQH5mpwGx4kKilBzvvPH14l4</string>
	<key>GCM_SENDER_ID</key>
	<string>781700865310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.julow.facebookLogin</string>
	<key>PROJECT_ID</key>
	<string>facebook-login-49f57</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-login-49f57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781700865310:ios:c7fedc1c242ca107fa7d0f</string>
	<key>DATABASE_URL</key>
	<string>https://facebook-login-49f57.firebaseio.com</string>
</dict>
</plist>